In [59]:
# Imports
import os
from tabula import read_pdf
import pandas as pd

# Load PDFs


Load PDFs inside the directory pdf_source.

In [271]:
year = 2022
# Find os type
if os.name == "posix":
    path = f"/opt/Projects/Personal_Proj_Read_Stock_PDF/pdf_source/{year}"
else:
    path = f"D:/Ivan/OneDrive/Documents/Investimento/IR/{year}/Rico/Notas de corretagem"

# List files inside the directory
files = os.listdir(path)
try: 
    files.remove(".keep")
except:
    pass
print(len(files))
files

19

['XPINC_NOTA_NEGOCIACAO_B3_11_2_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_12_9_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_14_4_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_15_3_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_16_11_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_16_2_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_16_9_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_17_1_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_17_2_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_18_11_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_20_5_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_25_7_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_27_6_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_28_4_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_2_2_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_31_5_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_6_5_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_7_2_2022.pdf',
 'XPINC_NOTA_NEGOCIACAO_B3_9_2_2022.pdf']

In [283]:
# Columns positions
q, neg, cv= 42, 88, 107
tip, praz, esp = 159, 193, 299
obs, qt, prec = 339, 392, 447
val = 541
cols = [q, neg, cv, tip, praz, esp, obs, qt, prec, val]
# (top,left,bottom,right) - batch 
file = path + "/" + files[1]

# Get date from table in file
area_date = [50, 495, 70, 590]
result = read_pdf(file, pages="all", area=area_date)
result_df = result[0]
date = result_df.values[0][0].replace("/", "-")
print(date)

# Get data from main table in file
# (top,left,bottom,right) - batch 
area = [240, 10, 445, 590]
temp = read_pdf(file, pages="all", stream=True, area=area, columns=cols)
print(len(temp))
final_df = temp[0].fillna("-")
display(final_df)
print(list(final_df.columns))

12-09-2022
1

c:\Users\Ivan\miniconda3\envs\pdf_create\Lib\site-packages\tabula\io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

,Q,Negociação,C/V,Tipo mercado,Prazo,Especificação do título,Obs. (*),Quantidade,Preço / Ajuste,Valor Operação / Ajuste,D/C
0,-,1-BOVESPA,C,FRACIONARIO,-,ITAUSAPN EJ N1,#,1,"9,50","9,50",D
1,-,1-BOVESPA,C,FRACIONARIO,-,MAGAZ LUIZAON NM,-,1,"4,62","4,62",D

['Q', 'Negociação', 'C/V', 'Tipo mercado', 'Prazo', 'Especificação do título', 'Obs. (*)', 'Quantidade', 'Preço / Ajuste', 'Valor Operação / Ajuste', 'D/C']

# Save tables as CSV

In [285]:
# Find os type
if os.name == "posix":
    csv_path = f"/opt/Projects/Personal_Proj_Read_Stock_PDF/csv_converted/{year}"
else:
    csv_path = f"Y:/Personal_Proj_Read_Stock_PDF/csv_converted/{year}"

# Save extracted data to csv
final_df.to_csv(f"{csv_path}/{date}.csv", index=False)

# Combine tables

Combine all csv files into one

In [60]:
# Combine all csv files into one
df_combined = pd.DataFrame()
years = range(2020, 2024)
for year in years:
    path = f"csv_converted/{year}"
    csv_list = os.listdir(path)
    for file in csv_list:
        date, _ = file.split(".")
        read_df = pd.read_csv(f"{path}/{file}")
        read_df['Data'] = date
        
        df_combined = pd.concat([df_combined, read_df], ignore_index=True)

df_combined['Preço / Ajuste'] = df_combined['Preço / Ajuste'].str.replace(",", ".").astype(float)
df_combined['Valor Operação / Ajuste'] = df_combined['Valor Operação / Ajuste'].str.replace(",", ".").astype(float)

display(df_combined.info())
df_combined.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Q                        166 non-null    object
 1   Negociação               166 non-null    object
 2   C/V                      166 non-null    object
 3   Tipo mercado             166 non-null    object
 4   Prazo                    166 non-null    object
 5   Especificação do título  166 non-null    object
 6   Obs. (*)                 166 non-null    object
 7   Quantidade               166 non-null    int64
 8   Preço / Ajuste           166 non-null    float64
 9   Valor Operação / Ajuste  166 non-null    float64
 10  D/C                      166 non-null    object
 11  Data                     166 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 15.7+ KB

None

,Q,Negociação,C/V,Tipo mercado,Prazo,Especificação do título,Obs. (*),Quantidade,Preço / Ajuste,Valor Operação / Ajuste,D/C,Data
0,-,1-BOVESPA,C,FRACIONARIO,-,BRASKEMPNA N1,-,2,21.05,42.10,D,03-09-2020
1,-,1-BOVESPA,C,FRACIONARIO,-,MAGAZ LUIZAON NM,-,1,88.41,88.41,D,03-09-2020
2,-,1-BOVESPA,C,FRACIONARIO,-,WEGON NM,-,1,63.92,63.92,D,03-09-2020
3,-,1-BOVESPA,C,FRACIONARIO,-,ITAUSAPN N1,-,10,9.36,93.60,D,09-10-2020
4,-,1-BOVESPA,C,FRACIONARIO,-,KLABIN S/APN N2,-,15,4.79,71.85,D,09-10-2020

In [70]:
df_combined_2 = pd.concat([df_combined, df_combined['Especificação do título'].str.split(r'((PN|PNA|ON)( (EDJ|EJ|EJS))?( N[1,2,M]))|(CI ER)|(CI)$', expand=True).loc[:,[0,1,6, 7]]], axis=1) #.rename(columns={0: 'Nome', 1: 'Tag'})
df_combined_2.fillna("", inplace=True)
mask = df_combined_2[0].str.contains("11")
# Combine cols 1, 6 and 7 into a single column called Extra
df_combined_2['Tags'] = df_combined_2[1] + df_combined_2[6] + df_combined_2[7]
df_combined_2['Ticket'] = df_combined_2.loc[mask, 0].apply(lambda x: x[-6:])
df_combined_2.loc[mask, 0] = df_combined_2.loc[mask, 0].apply(lambda x: x[:-6])
df_combined_2

,Q,Negociação,C/V,Tipo mercado,Prazo,Especificação do título,Obs. (*),Quantidade,Preço / Ajuste,Valor Operação / Ajuste,D/C,Data,0,1,6,7,Tags,Ticket
0,-,1-BOVESPA,C,FRACIONARIO,-,BRASKEMPNA N1,-,2,21.05,42.10,D,03-09-2020,BRASKEM,PNA N1,,,PNA N1,NaN
1,-,1-BOVESPA,C,FRACIONARIO,-,MAGAZ LUIZAON NM,-,1,88.41,88.41,D,03-09-2020,MAGAZ LUIZA,ON NM,,,ON NM,NaN
2,-,1-BOVESPA,C,FRACIONARIO,-,WEGON NM,-,1,63.92,63.92,D,03-09-2020,WEG,ON NM,,,ON NM,NaN
3,-,1-BOVESPA,C,FRACIONARIO,-,ITAUSAPN N1,-,10,9.36,93.60,D,09-10-2020,ITAUSA,PN N1,,,PN N1,NaN
4,-,1-BOVESPA,C,FRACIONARIO,-,KLABIN S/APN N2,-,15,4.79,71.85,D,09-10-2020,KLABIN S/A,PN N2,,,PN N2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,-,1-BOVESPA,C,FRACIONARIO,-,FLEURYON NM,-,6,15.29,91.74,D,24-08-2023,FLEURY,ON NM,,,ON NM,NaN
162,-,1-BOVESPA,C,FRACIONARIO,-,FLEURYON NM,-,2,15.30,30.60,D,24-08-2023,FLEURY,ON NM,,,ON NM,NaN
163,-,1-BOVESPA,C,FRACIONARIO,-,ITAUSAPN EJS N1,-,10,9.45,94.50,D,24-08-2023,ITAUSA,PN EJS N1,,,PN EJS N1,NaN
164,-,1-BOVESPA,C,FRACIONARIO,-,NEOENERGIAON NM,-,2,19.16,38.32,D,24-08-2023,NEOENERGIA,ON NM,,,ON NM,NaN
165,-,1-BOVESPA,C,FRACIONARIO,-,FLEURYON NM,-,30,15.29,458.70,D,26-09-2023,FLEURY,ON NM,,,ON NM,NaN

In [71]:
# Rename Cols
rename_cols = {'Negociação': 'source',
                'C/V': 'buy_sell',
                'Tipo mercado': 'type_market',
                'Especificação do título': 'especs_title',
                'Obs. (*)': 'obs',
                'Quantidade': 'qty',
                'Preço / Ajuste': 'unity_price',
                'Valor Operação / Ajuste': 'operation_price',
                'D/C': 'debit_credit',
                'Data': 'operation_date',
                0: 'title',
                'Tags': 'tags',
                'Ticket': 'ticket'}
df_combined_2.rename(columns=rename_cols, inplace=True)
select_cols = rename_cols.values()
df_combined_3 = df_combined_2[select_cols]

# Save combined table as CSV

In [72]:
path = csv_path = f"Y:/Personal_Proj_Read_Stock_PDF/csv_converted/"
df_combined_3.to_csv(f"{path}/combined.csv", index=False)